@imports "./colors.css";
.faq-section {
  padding: 20px 20px;
width: 100vw;
  margin: auto;
height: 610px;
  background: var(--pink-bg);
}
p{
    height: auto;
}
.faq-heading {
  font-size: 32px;
  font-weight: 600;
  color: #1f2937; /* gray-800 */
  margin-bottom: 32px;
}

.faq-list {
  color: #374151; /* gray-700 */
  font-size: 15px;
  line-height: 1.7;
}

.faq-item {
  margin-bottom: 24px;
}

.question {
  font-weight: 600;
  color: #000;
  margin-bottom: 6px;
}

.answer {
  margin: 0;
}