 @imports "./colors.css";
 
 .account-contain{
    display: flex;
   
   align-items: center;
   background: var(--pink-bg);
   height: 600px;
   justify-content: center;
 }

 .account-inner{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: "Montserrat";
    color: var(--bath-rituals);
    width: 550px;
    text-align: center;
 }

 .account-inner h1{
    margin-bottom: 20px;
    font-weight: 500;
 }

 .account-inner input{
    height: 60px;
    background: transparent;
    border: 1px solid var(--green-text);
    border-radius: 10px;
    padding: 20px;
 }

 .account-inner button{
    margin-top: 25px;
    height: 50px;
    background: var(--bath-rituals);
    color: white;
    border-radius: 999px;
    font-size: 18px;
 }