@import "./colors.css";

.beauty-container {
  background: var(--pink-text);

  color: white;
  font-family: 'Montserrat';
}

.inner-container {
  max-width: 526px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  height: 210px;
  padding: 100px;
}

.beauty-container h2 {
  font-size: 28px;
  font-weight: 400;
  color: #f3d5a9; /* soft gold-like heading color */
  text-align: left;
}

.beauty-container p {
  font-size: 14px;
  line-height: 1.7;
  text-align: left;
  color: white;
  word-spacing: 1.2px;
}

.imgg {
  width: 150px;
  height: auto;
  margin-top: 10px;
}
