@import './colors.css';

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar-container {
  width: 100vw;
  overflow: visible;
}

.navbar {
  max-width: 1440px;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  z-index: 10;
}

.logo {
  height: 42px;
  width: 199px;
  object-fit: contain;
}

.nav-tab-wrapper {
  backdrop-filter: blur(12px);
  border-radius: 247px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.253);
}

/* Navigation links */
.nav-links {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 10px 23px;
  color: var(--green-text);
  font-weight: 700;
}

.nav-links li {
  padding: 8px 10px;
  border-radius: 999px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}


.nav-links li.active {
  background-color: white;
  font-weight: bold;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}


.nav-links li.dropdown:hover {
  background-color: transparent !important;

}

.drop.active-drop {
  background-color: var(--pink-text); 
  height: 50vh;
}

.icons {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.icons img {
  height: 20px;
  width: 20px;
}
.dropdown-wrapper {
  position: relative;
  display: inline-block;
    z-index: 20;
}
.dropdown-content{
  width: 50vw;
  padding-top:65px ;
  position: absolute;
  top: 0px;
  left: 0px;
 display: flex;
 justify-content: space-between;
  z-index: 9999;
}



.dropdown-content li{
  list-style-type: none;
  font-size: 14px;
  font-weight: 400;
  color: #1B3638;
  font-size: "Montserrat";
}

.dropdown-img{
  display: flex;
  justify-content: space-around;
  width: 400px;
  margin-top: 30px;
}
.dropdown-img img{
  width: 179px;
  height: 203px;
}
